[phases.setup]
aptPkgs = ["libgl1-mesa-glx", "libglib2.0-0"]

[phases.install]
cmds = [
  "pip install --upgrade pip",
  "pip install -r requirements.txt",
  "pip install --no-deps mtcnn==0.1.1",
  "pip install --no-deps fawkes==1.0.3"
]
